.App {
  text-align: center;
  background-image: url(https://source.unsplash.com/random);
}



.App-header {
  background-color: #9db9f1;
  min-height: 100vh;
  min-width: 100%;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(33, 6, 133);
  
  
}

